<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About the Node Blogger</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis corporis architecto hic impedit voluptatem dicta! Hic rem excepturi tempora totam repudiandae aut distinctio fugiat incidunt officiis debitis, enim cumque numquam quaerat! Adipisci laborum nostrum tenetur maxime explicabo modi eius.</p>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit fuga, recusandae dolorum omnis iusto quia quos voluptates, numquam voluptas earum molestiae ipsa dolore non ipsum laboriosam iure, cum totam quae. Consectetur deleniti nostrum debitis porro id non explicabo, voluptatem rem.</p>

      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere cumque velit beatae aut illum optio, debitis autem eum, natus illo esse provident, maxime nulla ipsum. Ipsa quo nulla consectetur corporis amet, at animi ducimus illum aperiam ratione tenetur necessitatibus sit asperiores magni atque minus dolorem repellendus? Quasi consequuntur itaque dolorem!</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>